<div class="row mt-8">
    <div class="card-body p-0 pb-2">
        <div class="table-responsive">
            <table class="table align-items-center mb-0">
                <thead>
                    <tr>
                        <th class="text-center">
                            نام کاربری
                        </th>
                        <th class="text-center">
                            تصویر محصول
                        </th>
                        <th class="text-center">
                            تعداد
                        </th>
                        <th class="text-center">
                            قیمت
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-middle text-center text-sm">
                            <span class="text-xs font-weight-bold">
                                Negar
                            </span>
                        </td>
                        <td class="align-middle text-center text-sm">
                            <div>
                                <img src="~/assets/img/product/11.png" class="avatar ms-3" style="width: 100px;height:100px;">
                            </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                            <span class="text-xs font-weight-bold">
                                145
                            </span>
                        </td>
                        <td class="align-middle text-center text-sm">
                            <span class="text-xs font-weight-bold">
                                1500000 تومان
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>